/* test if stylesheet connected
body {
  background: blue;
}
*/

body {
  width: 960px;
  font-family: "Helvetica", sans-serif;
  }

.column-1 {
  background-color: #5a95f4;
  display: inline-block;
  vertical-align: top;
  width: 45%
  }
  
.column-2 {
  background-color: #91e537;
  display: inline-block;
  vertical-align: top;
  width: 45%
  }
  
 h1, h2 {
   letter-spacing: 5px;
   text-shadow: 1px 1px #ffffff; 
 }
 
 article > h2 {
   border: dashed;
   border-color: #0548b5;
   border-width: 4px;
   padding: 7px;
   margin: 7px;
 }

h1 {
  border: double;
  border-color: black;
  border-width: 7px;
}
 